/*@font-face {
	font-family: 'Hero';
	src: url("fonts/hero.otf");
}*/
@font-face {
	font-family: 'Roboto';
	src: url("fonts/Roboto-Regular_0.ttf");
}
html, body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto';
	color: black;
	/*background-color: #ebecf0;*/
}
#sections-menu h4 ul li a{
	font-family: 'Roboto';
	color:  #fff;
}
a {
	/*color: black !important;*/
	text-decoration: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}
.logo-ht {
            height: 60px;
}
.nav-bar{
	width: 100%;
}
.navbar-default{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	border: none !important;
}
.navbar {
	-webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.navbar.scrolled {
	position: fixed;
    background: white !important;
    padding-top: 0px;
		color: black !important;
}

#social-buttons img{
	width: 45px;
	margin-left: 10px;
	padding-top: 5px;
}

#menu {
	display: inline-block;
	float: right;
}
.gc img{
	width: 150px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; transition: all 1s ease;
}
/*.gc img:hover{
	width: 180px; height: auto;
}*/
.menu-item{
	font-size: 40px;
    line-height: 72px;
    font-weight: 900;
    display: block;
    color: #292a33;
    width: 40%;

    margin: auto;
    padding: 15px;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#sections-menu{
	display: inline-block;
	float: right;
}
#sections-menu a{
	font-size: 15px !important;
	/*font-color: black;*/
	text-decoration: none;
	/*text-transocial-buttonssform: uppercase;*/
}
.logo{
  text-align: center;
  margin-top: 10px;
}
.logo img {
  width: 250px;
}
.logo-b{
	display: none;
}
.logo-w{
	display: block;
}
.socials {
  margin-top: 35px;
	float: right;
  right: 0;
  position: absolute;
}
.socials ul {
  float: right;
	margin-right: 40px;
}
.socials li {
  display: inline-block;
}
.socials li a i{
	color: #fff;
}
.socials li a {
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
  margin-left: 22px;
	font-size: 25px;
}
.socials li a:hover {
  opacity: .5;
}
.whitetext{
	color: #fff !important;
}
/*nav ul > li:before {
  content: '/';
  position: absolute;
  top: 17px;
  right: -5px;
  font-family: "Open Sans";
  color: #ffffff;
  opacity: 1;
}
nav ul >li:nth-last-child(1):before {
  content: '';
}*/
.navbar-left{
	padding-top: 20px;
}
.nav-menu-button{
	display: none;
	cursor: pointer;
}
nav ul > li > a > span{
	padding-left: 20px;
}

.cover-page-gc{
	/*display: inline-block;*/
	background: url("../img/grabcase_2.jpg") fixed;
	background-size: cover;
	/*background-size: 100% 100%;*/
	height: 100vh;
	width: 100%;
	text-align: center;
	background-repeat: no-repeat;
}
.section-gb-3{
	background: url("../img/grabcase_8.jpg") fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
	text-align: center;
	transition: all 0.6s ease-out;
	background-repeat: no-repeat;
}
.section-gb-4{
	background-color: white;
	text-align: center;
	padding: 100px 20px;
}
.section-gb-5{
	background-color: #2B2E33;
	text-align: center;
	padding: 40px;
	color: white;
}
.section-gb-5 input{
	height: 50px;
	padding: 5px;
	width: 300px;
	transition: all 0.6s ease-out;
	color: #000;
}
.section-gb-6{
	background: url("../img/grabcase_1.jpg") fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
	transition: all 0.6s ease-out;
}
.shop{
	padding-top: 20px;
	padding-bottom: 100px;
	padding-left: 4%;
	padding-right: 4%;
	height: 640px;
	text-align: center;
}
/* video container start here */
.video-container {
	position:relative;
	padding-bottom:19%;
	height:100%;
	overflow:hidden;
}

.video-container iframe {
	position:absolute;
	top:0;
	left:15%;
	width:75%;
	height:100%;
}

/* video container end here */
.btn-buy{
	height: 50px;
	background: transparent;
  border: 2px solid black;
	border-radius: 20px;
  padding: 5px 15px !important;
  color: black;
  /*margin-left: 8px;
  margin-top: 20px;*/
  width: auto !important;
	text-decoration: none !important;
}
.btn-buy:hover{
	background: black;
	color: white;
}
.signup-btn{
	height: 50px;
	background: transparent;
  border: 2px solid white;
  padding: 0px 30px !important;
  color: white !important;
  margin-left: 8px;
  margin-top: 20px;
  width: auto !important;
}

/*-------------contact-fullwidth-----------*/
.marg-l25{
		margin-left: 25%;
}
.contact-fullwidth{
	color: white;
	padding-bottom: 50px;
}
.contact-fullwidth h2 {
  margin-top: 2px;
  letter-spacing: .5px;
	color: white;
}
/*.contacts {
  margin-bottom: 62px;
}*/
.contact-form form {
  padding-right: 25px;
  margin-top: 1px;
}
.contact-form textarea, .contact-form input[type="text"] {
  background-color: transparent;
  width: 100%;
  padding: 12px 13px;
  margin-bottom: 5px;
  border: 1px solid #343638;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 13px;
  color: #a8abad;
  transition: border-color .5s;
  -webkit-transition: border-color .5s;
}
.contact-form textarea {
  height: 120px;
}

.contact-form input[type="submit"] {
  color: #ffffff;
  background-color: #343638;
  font-size: 13px;
  font-family: "Open Sans";
  font-weight: 400;
  padding: 12px 21px;
  transition: all .5s;
  -webkit-transition: all .5s;
  text-transform: uppercase;
  letter-spacing: .5px;
  border: none;
  margin-top: 2px;
}
.contact-form input[type="submit"]:hover {
  color: #343638;
  background-color: #54fdc3;

}
.contact-form textarea:focus, .contact-form input[type="text"]:focus {
  border-color: #54fdc3;
}
.social-contacts {
  padding-left: 49px;
  margin-top: -1px;
}
.social-contacts li {
  margin-bottom: 17px;
  color: #dddddd;
  font-size: 14px;
}
.social-contacts li i {
  margin-right: 15px;
  color: #dddddd;
}
.social-contacts li a {
  color: #dddddd;
  font-size: 14px;
  opacity: 1;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.social-contacts li a:hover {
  opacity: .5;
}
span.pl30 {
  padding-left: 30px;
  margin-top: 5px;
  display: block;
}
.mt35 {
  margin-top: -23px;
}
/*------------contact-with-sidebar----------*/
.contact-with-sidebar {
  margin-top: 5px;
  margin-bottom: -20px;
}
.contact-with-sidebar .blog img {
  float: none;
  margin-bottom: 24px;
}
.contact-with-sidebar .blog {
  margin-bottom: 20px;
  padding-bottom: 0;
  border-bottom: none;
}
.contact-with-sidebar .blog1-description {
  margin-left: 0;
}
.contact-with-sidebar .blog h2 {
  letter-spacing: .5px;
}
.contacts2 {
  margin-top: 16px;
}
.contacts2 form {
  padding-right: 15px;
}
.contacts2 .contact-form {
  margin-bottom: 40px;
}
.contacts2 .social-contacts {
  margin-bottom: 30px;
}
.contacts2 .contact-form textarea, .contacts2 .contact-form input[type="text"] {
  margin-bottom: 6px;
}
.contacts2 .contact-form input[type="submit"] {
  margin-top: 0px;
}
footer{
	margin-top: 50px;
	border-top: 3px solid white;
	color: white;
}
footer p{
	margin: 30px;
}
.footer-social{
	margin-top: 20px;
}

@media only screen and (max-width: 990px) {
	.no-margin{
		margin-left: 0 !important;
	}
}
@media only screen and (max-width: 1024px) {
	.navbar-nav>li{
		float: none;
	}
	.socials{
		/*margin-top: 0px;*/
		display: none;
	}
	.nav-menu-button{
		display: block;
    color: white;
    top: 0px;
    position: absolute;
    right: 0;
    font-size: 25px;
    /*background-color: rgba(245,245,245,0.6);*/
    height: 85px;
    padding: 33px;
		padding-top: 37px;
    padding-left: 15px;
    padding-right: 15px;
	}
	.socials ul{
		text-align: center;
		float: none;
	}
	.social-contacts{
		padding: 0px;
		margin-top: 10px;
	}
	.logo{
		width: 100%;
	}
	.logo img{
		margin: 0px auto;
	}
	#sections-menu {
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 85px;
		width: 100%;
    /*background-color: rgba(245,245,245,0.6);*/
	}
	.navbar-left{
		padding-top: 0px;
		width: 100%;
	}
	.mobile-off > a > span{
			display: none;
	}
	footer p{
			text-align: center;
	}
	.footer-social{
		display: block !important;
		text-align: center;
		margin: 0;
	}
}
@media only screen and (max-width: 767px) {
	.video-container{
		padding-bottom: 38%;
		margin-top: 30px;
	}
	.video-container iframe{
		left: 10%;
	}
	.gc{
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 500px) {
	.navbar-default{
		padding-left: 0px;
		padding-right: 30px;
	}

}
